body{
    background-color: #2c3034;
}

.topnav {
    overflow: auto;
    background-color: #40474f;
    padding: 20px 15px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.topnav .icon {
    display: none;
}

.topnav a:hover {
    background-color: #5d6772;
    color: white;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.headerright{
    float:right;
}

.logo{
    font-size: 25px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #5d6772;
    color: white;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#40474f;
    color: white;
    text-align: center;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}


.container {
    width: 40%;
}

a {
    color:white;
}
a:hover {
    color: #755d2f;
}