
body{
    background-color: #2c3034;
    overflow-x: hidden;
}

h1{
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-size: 46px;
}

h2{
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 30px;
}

.topnav {
    overflow: auto;
    background-color: #40474f;
    padding: 20px 15px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.topnav .icon {
    display: none;
}

.topnav a:hover {
    background-color: #5d6772;
    color: white;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive {float: none;}
    .topnav.responsive {position: relative;}
    .topnav.responsive {
        display: block;
        width: 100%;
        text-align: left;
    }
}

.headerright{
    float:right;
}

.logo{
    font-size: 25px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #5d6772;
    color: white;
}

.column {
    float: left;
    width: 300px;
    padding-top: 0;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
    }
}
.row1{
    padding: 1% 2% 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.row2{
    padding: 2%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row2:after{
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #6c757d;
    border-style: groove;
    height: 300px;
}

h3 {
    color: white;
}
.card a{
    text-decoration: none;
    font-family: "Nobile", sans-serif;
    font-size: 17px;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.card a:hover{
    color: white;
}
.card p{
    text-decoration: none;
    font-family: "Nobile", sans-serif;
    font-size: 15px;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-top: 10px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#40474f;
    color: white;
    text-align: center;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.container {
    width: 40%;
}

a {
    color:white;
}
a:hover {
    color: #0d6efd;
}